body {
    align-content: center;
    background-color: gainsboro;
}



.heading {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.subs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: black;
}

td {
    border-style: solid;
 }

thead {
    border-style: solid;
    border-color: black;
    background-color: lightsteelblue;
}

.table1 {
    border-style: solid;
    border-width: thin;
    text-align: start;
    line-height: normal;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}


.table2 {
    border-style: solid;
    text-align: start;
    line-height: normal;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    
}

.code {
    font-family: monospace;
    background-color: slategray;
}
